
.header{
    margin: auto;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 10px;
    margin-left: 200px;
    padding: 10px;
  }
  
  li {
    float: left;
    width: 80px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* 当鼠标悬停时把链接颜色更改为 #111（黑色） */
  li a:hover {
    background-color: #888;
  }

.banner-1 {
      width: 100%;
  }

.content {
    margin: 20px;
    padding: 10px;
  }