
.header{
    margin: auto;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 10px;
    margin-left: 200px;
    padding: 5px;
  }
  
  li {
    float: left;
    width: 100px;
  }
  
  li a {
    font-size: 16px;
    display: block;
    color: black;
    text-align: center;
    /* padding: 14px 14px; */
    text-decoration: none;
  }
  
  /* 当鼠标悬停时把链接颜色更改为 #111（黑色） */
  li a:hover {
    background-color: #538ffd;
  }

.banner-1 {
      width: 100%;
  }

.content {
    margin: 20px;
    padding: 10px;
    /* border: 1px solid #000; */
    border-radius: 20px;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.6),rgba(255,255,255,0.1));
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
  }

.gallery {
    float: left;
    width: 100%;
    margin: 10px;
    text-align: center;
}

.gallery img {
    width: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 18px;
}

h2{
  padding-left: 30px;
  padding-right:30px;
}

p {
  padding-left: 50px;
}

